<a href="https://colab.research.google.com/github/smtolo/EDSA/blob/master/Classification_Hackathon_1074.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification Hackathon

For the specifications for today's Hackathon use the slides linked below. Just note a couple things before you start:
* Use your full name and ```_EDSA``` as your Zindi username.
* The dataset for this challenge is very large and will take a long time to process. In order to use your time wisely, only use a small subset of the data to figure out how to solve this challenge, and once you're happy with that, train your model with the entire dataset.
* This Zindi challenge is tough. This will be taken into account when the supervisors mark your work. Do not worry too much about your placement on the leaderboard. In the Regression Hackathon ```laura_the_explorer``` was in first place but is outside the top 100 in this challenge
* To submit your Hackathon to Athena, zip your notebook and your submission csv file, and upload that here. Note that your report card will say you have 100% once you submit your file.
* Please attach the *Honour code* (below) cell to your notebook. 

Further instructions found on these slides: https://docs.google.com/presentation/d/1AbVndI5aOd27Jm0E1qNoYzRtWiZ6-DE3BDE0djGxzIk/edit?usp=sharing

** Good luck! **

## Honour Code
I Sihle, YOUR Mtolo, confirm - by submitting my - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

In [0]:
import numpy as np
import pandas as pd
import io

In [514]:
df_train = pd.read_csv('training.csv')
df_train.head()

         TransactionId         BatchId  ... PricingStrategy FraudResult
0  TransactionId_76871   BatchId_36123  ...               2           0
1  TransactionId_73770   BatchId_15642  ...               2           0
2  TransactionId_26203   BatchId_53941  ...               2           0
3    TransactionId_380  BatchId_102363  ...               2           0
4  TransactionId_28195   BatchId_38780  ...               2           0

[5 rows x 16 columns]

In [515]:
df_test = pd.read_csv('test (1).csv')
df_test.head()

         TransactionId        BatchId  ...  TransactionStartTime PricingStrategy
0  TransactionId_50600  BatchId_35028  ...  2019-02-13T10:01:40Z               4
1  TransactionId_95109  BatchId_45139  ...  2019-02-13T10:02:12Z               2
2  TransactionId_47357  BatchId_74887  ...  2019-02-13T10:02:30Z               2
3  TransactionId_28185  BatchId_11025  ...  2019-02-13T10:02:38Z               4
4  TransactionId_22140  BatchId_29804  ...  2019-02-13T10:02:58Z               2

[5 rows x 15 columns]

In [0]:
df_train['is_train'] = True
df_test['is_train'] = False

In [517]:
df = df_train.append(df_test)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [518]:
len(df)

140681

In [0]:
test_id = df_test['TransactionId']

In [520]:
df['Transaction_year'] = df['TransactionStartTime'].str[:4].astype(int)

# df['Transaction_month'] = df['TransactionStartTime'].str[5:7].astype(int)
# df['Transaction_day'] = df['TransactionStartTime'].str[8:10].astype(int)
# df['Transaction_hour'] = df['TransactionStartTime'].str[11:13].astype(int)
df['AccountId'] = df['AccountId'].str[10:].astype(int)
df['BatchId'] = df['BatchId'].str[8:].astype(int)
df['ChannelId'] = df['ChannelId'].str[10:].astype(int)
df['CustomerId'] = df['CustomerId'].str[11:].astype(int)
df['ProductId'] = df['ProductId'].str[10:].astype(int)
df['ProviderId'] = df['ProviderId'].str[11:].astype(int)
df['SubscriptionId'] = df['SubscriptionId'].str[15:].astype(int)

df

       AccountId   Amount  BatchId  ...  Value  is_train Transaction_year
0           3957   1000.0    36123  ...   1000      True             2018
1           4841    -20.0    15642  ...     20      True             2018
2           4229    500.0    53941  ...    500      True             2018
3            648  20000.0   102363  ...  21800      True             2018
4           4841   -644.0    38780  ...    644      True             2018
5           1078   2000.0    25954  ...   2000      True             2018
6           2442  10000.0   118460  ...  10000      True             2018
7           4841   -500.0    38561  ...    500      True             2018
8            272    500.0    93774  ...    500      True             2018
9            710    600.0    82409  ...    600      True             2018
10          2634    890.0   112288  ...    890      True             2018
11          4841    -40.0   126394  ...     40      True             2018
12           710    600.0   104726  ...    600      True             2018
13           710   4000.0    59433  ...   4000      True             2018
14           710   4000.0    59433  ...   4000      True             2018
15           710   4000.0    59433  ...   4000      True             2018
16          2685    500.0    31312  ...    500      True             2018
17          2685   1000.0     6789  ...   1000      True             2018
18          4841    -10.0   117733  ...     10      True             2018
19          3081    500.0    89644  ...    500      True             2018
20          4841    -25.0    94932  ...     25      True             2018
21          3081    500.0   103527  ...    500      True             2018
22          4841    -25.0     8334  ...     25      True             2018
23          1825   1000.0    48769  ...   1000      True             2018
24          2314    500.0    50160  ...    500      True             2018
25          4841    -10.0   100266  ...     10      True             2018
26          1825   1000.0   124231  ...   1000      True             2018
27          1616   3500.0    60208  ...   3500      True             2018
28          4841    -70.0    48611  ...     70      True             2018
29          3455   2000.0    16332  ...   2000      True             2018
...          ...      ...      ...  ...    ...       ...              ...
44989       4841  -5000.0    47763  ...   5000     False             2019
44990       4552  10000.0    48637  ...  10000     False             2019
44991       4841  -5000.0   107072  ...   5000     False             2019
44992         10 -10000.0   135249  ...  10000     False             2019
44993       2646  10000.0    93461  ...  10000     False             2019
44994       4841  -5000.0    76811  ...   5000     False             2019
44995       3846  10000.0     9494  ...  10000     False             2019
44996       4841  -5000.0    17869  ...   5000     False             2019
44997       4257  10000.0    59158  ...  10000     False             2019
44998        658  10000.0    18480  ...  10000     False             2019
44999       1826  10000.0   107570  ...  10000     False             2019
45000       4841  -5000.0   108510  ...   5000     False             2019
45001       3462  10000.0     3837  ...  10000     False             2019
45002       4841  -5000.0   133584  ...   5000     False             2019
45003        659  10000.0   100536  ...  10000     False             2019
45004        659  10000.0    29172  ...  10000     False             2019
45005       4841  -5000.0   118185  ...   5000     False             2019
45006       4259  10000.0    65264  ...  10000     False             2019
45007       4841  -5000.0   134224  ...   5000     False             2019
45008        659   5000.0   121813  ...   5000     False             2019
45009       1099  10000.0    75172  ...  10000     False             2019
45010       4841  -5000.0   102543  ...   5000     False             2019
45011       2323  10000.0    83188  ...  10000     False             2019
45012       4841  -5000.0    55857  ...   5000     False             2019
45013       4756  10000.0    19757  ...  10000     False             2019
45014       4841  -5000.0   117348  ...   5000     False             2019
45015       4803  10000.0    53630  ...  10000     False             2019
45016       4817  10000.0   112209  ...  10000     False             2019
45017       4841  -5000.0    58734  ...   5000     False             2019
45018       4593   3500.0    98308  ...   3500     False             2019

[140681 rows x 18 columns]

In [0]:
df.drop(['TransactionStartTime','CurrencyCode','TransactionId','CustomerId', 'AccountId', 'CountryCode','SubscriptionId', 'ProviderId'], inplace=True, axis=1)

In [522]:
df.head()

    Amount  BatchId  ChannelId  ...  Value  is_train Transaction_year
0   1000.0    36123          3  ...   1000      True             2018
1    -20.0    15642          2  ...     20      True             2018
2    500.0    53941          3  ...    500      True             2018
3  20000.0   102363          3  ...  21800      True             2018
4   -644.0    38780          2  ...    644      True             2018

[5 rows x 10 columns]

In [0]:
df = pd.get_dummies(df)

In [0]:
df_train = df[df['is_train'] == True]
df_test = df[df['is_train'] == False]

In [525]:
df_train.drop('is_train', axis=1, inplace =True)
df_test.drop('is_train', axis=1, inplace =True)
df_train['FraudResult'] = df_train['FraudResult'].astype(int)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
X = df_train.drop('FraudResult', axis=1)
y = df_train['FraudResult']

testing_X = df_test.drop('FraudResult', axis=1)

In [0]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss

In [0]:
sm = SMOTE()

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

# grid = GridSearchCV(scoring=f1_score, estimator=RandomForestClassifier, param_grid={})

In [0]:
rnd = RandomForestClassifier()

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=42)

In [532]:
rnd.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_pred = rnd.predict(X_test)

In [0]:
from sklearn.metrics import accuracy_score, f1_score, precision_score

In [535]:
accuracy_score(y_test, y_pred)

0.9998432028432551

In [536]:
f1_score(y_test, y_pred)

0.9577464788732395

In [537]:
precision_score(y_test, y_pred)

0.9714285714285714

In [0]:
final_model = rnd.predict(testing_X)

In [0]:
df_sub = pd.DataFrame({'TransactionId':test_id, 'FraudResult':final_model})

df_sub.set_index('TransactionId', inplace=True)

In [540]:
df_sub.to_csv('Submissions12.csv')

pd.read_csv('Submissions12.csv')

              TransactionId  FraudResult
0       TransactionId_50600            0
1       TransactionId_95109            0
2       TransactionId_47357            0
3       TransactionId_28185            0
4       TransactionId_22140            0
5      TransactionId_134338            0
6      TransactionId_109096            0
7       TransactionId_14249            0
8       TransactionId_69896            0
9       TransactionId_91468            0
10      TransactionId_18862            0
11      TransactionId_29342            0
12     TransactionId_116873            0
13      TransactionId_81197            0
14      TransactionId_83120            0
15      TransactionId_40882            0
16      TransactionId_89297            0
17     TransactionId_112716            0
18      TransactionId_61794            0
19     TransactionId_124957            0
20     TransactionId_105927            0
21      TransactionId_23455            0
22      TransactionId_44325            0
23     TransactionId_121440            0
24      TransactionId_72401            0
25     TransactionId_122323            0
26     TransactionId_100360            0
27     TransactionId_121720            0
28     TransactionId_121119            0
29      TransactionId_39420            0
...                     ...          ...
44989   TransactionId_59036            0
44990   TransactionId_73940            0
44991   TransactionId_71759            0
44992  TransactionId_124192            0
44993   TransactionId_58380            0
44994  TransactionId_116667            0
44995   TransactionId_60819            0
44996   TransactionId_74223            0
44997   TransactionId_56817            0
44998  TransactionId_138266            0
44999   TransactionId_17145            0
45000   TransactionId_42734            0
45001   TransactionId_51760            0
45002   TransactionId_62677            0
45003   TransactionId_14643            0
45004   TransactionId_34876            0
45005    TransactionId_9981            0
45006   TransactionId_31273            0
45007   TransactionId_68650            0
45008    TransactionId_2604            0
45009   TransactionId_46151            0
45010  TransactionId_109121            0
45011   TransactionId_30094            0
45012   TransactionId_73077            0
45013  TransactionId_135846            0
45014  TransactionId_116198            0
45015   TransactionId_24829            0
45016  TransactionId_102920            0
45017  TransactionId_128439            0
45018   TransactionId_45927            0

[45019 rows x 2 columns]